{% extends 'index.html' %}
{% block title %}About{% endblock %}
{% block head %} {{ super() }}
    <style>
        .column1 {
            float: left;
            width: 30%;
            margin-left: 20px;
        }

        .column2 {
            float: right;
            width: 65%;
            margin-right: 10px;
            margin-left: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .rotate90 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        img {
            margin-left: -65px;
            margin-top: 20px;
            margin-bottom: 50px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ index }}">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ songs }}">music rec</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ blog }}">blog</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ about }}">about</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ suggest }}">suggest!</a>
    </li>
{% endblock %}

{% block contents %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="column1"><p>about me</p><br><br><img
                        src="{{ url_for('static', filename="images/baby2.jpg") }}" class="rotate90"
                        alt="laila in first grade"/></div>
                <div class="column2">
                    <p>
                        hi guys! my name is laila, as you can probably tell by now since it's written all over this
                        website.. sorry about that. that's me on the left. i used an old picture cause i don't look that
                        cute anymore.
                        <br><br>
                        i’m a comp sci student with a love for tiramisu, bookstores, playlists, montreal, bts, and lychee
                        drinks.
                        <br><br>
                        i'm currently working on a portfolio website, a typescript game, an ios app, and bettering my css! it's all good, i got it under control..
                        <br><br>
                        i enjoy exploring subjects like website performance, networks and servers, and ux and ui design (which i've recently fallen in love with).
                        <br><br>
                        i've worked on group projects for my concordia courses like the dental clinics' database and an opengl project, as well as side projects that i'm really excited about like the covid-19 tracker, a realtime chat app using react, node, and socket.io, and the panic button. 
                        <br><br>
                        i believe in wide curiosity, “good trouble”, and ending up where you’re not supposed to be.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}