{% extends 'index.html' %}
{% block title %}About{% endblock %}
{% block head %} {{ super() }}
    <style>
        .column1 {
            float: left;
            width: 30%;
            margin-left: 20px;
        }

        .column2 {
            float: right;
            width: 65%;
            margin-right: 10px;
            margin-left: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .rotate90 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        img {
            margin-left: -65px;
            margin-top: 20px;
            margin-bottom: 50px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block navitems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ index }}">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ songs }}">music rec</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ blog }}">blog</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ about }}">about</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ suggest }}">suggest!</a>
    </li>
{% endblock %}

{% block contents %}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="column1"><p>about Laila</p><br><br><img
                        src="{{ url_for('static', filename="images/baby2.jpg") }}" class="rotate90"
                        alt="laila in first grade"/></div>
                <div class="column2">
                    <p>
                        Hi guys! My name is Laila, as you can probably tell by now since it's written all over this
                        website.. sorry about that. That's me on the left. I used an old picture cause I don't look that
                        cute anymore.
                        <br><br>
                        I’m a programmer with a love for tiramisu, bookstores, playlists, montreal, bts, and lychee
                        drinks.
                        <br><br>
                        When I first started thinking about what I wanted to major in, I was looking through a list of
                        the top-paying majors (as you do), and I kept seeing "computer science" and when I asked my
                        family what that was, they'd all answer: it's too complicated, something to do with engineering,
                        it's a guy's thing. And that's it. That's all I needed to know to get me interested. A new
                        challenge.
                        <br><br>
                        For the past 2 years, I’ve been studying different programming concepts and languages (including
                        python, java, html, css, flask, and javascript.. obviously) at concordia and online (on
                        platforms like brilliant.org, codecademy, and Datacamp) to get me closer to my goal of working
                        with a culturally diverse team in a plant filled office with open windows and lots of sun... yep
                        that's all i'm getting my degree for. I'm currently in my second year of university.
                        <br><br>
                        I believe in wide curiosity, “good trouble”, and ending up where you’re not supposed to be.
                        Everyone is a fellow traveller.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}